.btn-submit {
    background-color: #007498;
    color: #fff;
}

section {
    background-color: #f1f2f6;
}

.shadow-2-strong {
    border-radius: 1rem;
}

a {
    color: #6992a6;
}

.form-control-lg {
    font-size: 1rem;
}

@media (max-width: 768px) {
    .form-control-lg {
        font-size: 12px;
    }

    .invalid-feedback {
        font-size: 10px;
    }

    .mb-2 {
        margin-bottom: 0.2rem !important;
    }
}