<div class="modal-header">
    <h5 class="modal-title">Edit</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>

<div class="modal-body">
    <div class="messages"></div>
    
    <form id="editForm" action="/medications/{{ med.id }}/update/" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" name="name" value="{{med.name}}" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Dosage</label>
            <input type="text" name="dosage" value="{{med.dosage}}" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Instructions</label>
            <textarea name="instructions" class="form-control">{{med.instructions}}</textarea>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    <button type="button" class="btn btn-primary" id="editBtn">Save</button>
</div>